
# IDE
.vscode

# mac
.DS_Store

# logs
logs
*.log

# .bak
*.bak

# node | npm | yarn
node_modules
npm-debug.log
npm-lock.log

# temp file
Thumbs.db
db.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release